#incidentPanelGadget {
	width: 100%;
	margin: 0px;
}

#notificationPanel {
	position: absolute;
	top: 10px;
	left: 0px;
	display: none;
	width: 100%;
}

#editPanel {
	border: 2px #BDBDBD solid;
	border-radius: 5px;
	padding: 10px;
	background-color: #FDFDFD;
}

#incidentPanel {
	padding-left: 2px;
	padding-right: 2px;
}

#incidentPanelGroupDiv {
	font-size: larger;
	font-weight: bold;
}

#incidentPanel table {
	width: 100%;
	border-collapse: collapse;
}

#incidentPanelSummaryDiv table {
	border-collapse: separate;
	border-spacing: 10px;
}

.incidentsSummary td {
	padding : 10px;
	width: 33%;
	border-radius: 5px;
}

.incidentSummary {
	vertical-align: middle;
	text-align: center;
}

.incidentSummary.CRIT {
	color: #FFFFFF;
	background-color: #B61211;
}

.incidentSummary.OTHER {
	background-color: #DAD60B;
}

.incidentSummary.OK {
	background-color: #67B10B;
}

.incidentSummaryCount {
	font-size: x-large;
}

.incidentSummaryLegend {
	font-size: normal;
}

.incidentPanelBarChart {
	font-size: 4px;
	height: 6px;
}

.incidentPanelBarChart.CRIT {
	background-color: #B61211;
}

.incidentPanelBarChart.OTHER {
	background-color: #DAD60B;
}

.incidentPanelBarChart.OK {
	background-color: #67B10B;
}

#incidentPanelTableDiv {
	overflow-y: auto;
}

.incidentsTable td {
	padding: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #FFFFFF;
}

.incident a {
	color: #565E6C;
	text-decoration: none;
}

.incident a:hover {
	color: #000000;
	text-decoration: none;
}

.incident.CRIT a {
	color: #FFFFFF;
}

.incident.MAINT a {
	color: #FFFFFF;
}

.incident:hover {
	color: #000000;
	cursor: pointer;
}

.incident.CRIT {
	color: #EAEAEA;
	background-color: #B61211;
}

.incident.CRIT:hover {
	color: #FFFFFF;
	background-color: #CC3333;
}

.incident.WARN {
	background-color: #DAD60B;
}

.incident.WARN:hover {
	background-color: #EDE900;
}

.incident.UNKNOWN {
	background-color: #E6E6E6;
}

.incident.UNKNOWN:hover {
	background-color: #D0D0D0;
}

.incident.MAINT {
	color: #EAEAEA;
	background-color: #555B98;
}

.incident.MAINT:hover {
	color: #FFFFFF;
	background-color: #6970a1;
}
